Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
Flask-CORS
SQLAlchemy
Werkzeug
WTForms
PyMySQL
psycopg2-binary
python-dotenv
Jinja2
Pygments
bleach
markdown-it-py
mdit-py-plugins
PyYAML
click
importlib-metadata
alembic
pypinyin
requests
gunicorn
cryptography
