Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
Flask-CORS
SQLAlchemy
Werkzeug
WTForms
PyMySQL
python-dotenv
Jinja2
Markdown
Pygments
bleach
pymdown-extensions
PyYAML
click
importlib-metadata
alembic
