<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="blog">
  <div class="conteudo">
     {% if welcome %}
     <h1>编辑文章</h1>
<table>
    <tr>
        <th>名称</th>
        <th>操作</th>
    </tr>
        {% for i in post %}
        <tr>
        <td>
            <p>{{ i.title }}</p>
        </td>

        <td>
            <a href="/delete/{{ i.title }}">删除</a>
        </td>
        </tr>
        {% endfor %}
</table>
      <h1>新文章</h1>
      <form action="" method="post" enctype="multipart/form-data">
          <textarea cols="25" rows="5" name="text">内容</textarea>
          <input value="标题" name="title"></input>
          <input value="标签" name="tag"></input>
          <input value="时间" name="time"></input>
          <input value="作者" name="author"></input>
          <input value="修改?(是:1;不是:2)" name="change"></input>

          <input type="submit" value="提交">
      </form>
     {% else %}
        <h1>没有权限！</h1>
     {% endif%}
  </div>
</div>
{% endblock %}
