/* Pygments Monokai syntax highlighting */
.highlight .hll { background-color: #49483e }
.highlight { background: transparent; color: #F8F8F2 }
.highlight .c { color: #959077 }
.highlight .err { color: #ED007E; background-color: #1E0010 }
.highlight .esc { color: #F8F8F2 }
.highlight .g { color: #F8F8F2 }
.highlight .k { color: #66D9EF }
.highlight .l { color: #AE81FF }
.highlight .n { color: #F8F8F2 }
.highlight .o { color: #FF4689 }
.highlight .x { color: #F8F8F2 }
.highlight .p { color: #F8F8F2 }
.highlight .ch { color: #959077 }
.highlight .cm { color: #959077 }
.highlight .cp { color: #959077 }
.highlight .cpf { color: #959077 }
.highlight .c1 { color: #959077 }
.highlight .cs { color: #959077 }
.highlight .gd { color: #FF4689 }
.highlight .ge { color: #F8F8F2; font-style: italic }
.highlight .ges { color: #F8F8F2; font-weight: bold; font-style: italic }
.highlight .gr { color: #F8F8F2 }
.highlight .gh { color: #F8F8F2 }
.highlight .gi { color: #A6E22E }
.highlight .go { color: #66D9EF }
.highlight .gp { color: #FF4689; font-weight: bold }
.highlight .gs { color: #F8F8F2; font-weight: bold }
.highlight .gu { color: #959077 }
.highlight .gt { color: #F8F8F2 }
.highlight .kc { color: #66D9EF }
.highlight .kd { color: #66D9EF }
.highlight .kn { color: #FF4689 }
.highlight .kp { color: #66D9EF }
.highlight .kr { color: #66D9EF }
.highlight .kt { color: #66D9EF }
.highlight .ld { color: #E6DB74 }
.highlight .m { color: #AE81FF }
.highlight .s { color: #E6DB74 }
.highlight .na { color: #A6E22E }
.highlight .nb { color: #F8F8F2 }
.highlight .nc { color: #A6E22E }
.highlight .no { color: #66D9EF }
.highlight .nd { color: #A6E22E }
.highlight .ni { color: #F8F8F2 }
.highlight .ne { color: #A6E22E }
.highlight .nf { color: #A6E22E }
.highlight .nl { color: #F8F8F2 }
.highlight .nn { color: #F8F8F2 }
.highlight .nx { color: #A6E22E }
.highlight .py { color: #F8F8F2 }
.highlight .nt { color: #FF4689 }
.highlight .nv { color: #F8F8F2 }
.highlight .ow { color: #FF4689 }
.highlight .pm { color: #F8F8F2 }
.highlight .w { color: #F8F8F2 }
.highlight .mb { color: #AE81FF }
.highlight .mf { color: #AE81FF }
.highlight .mh { color: #AE81FF }
.highlight .mi { color: #AE81FF }
.highlight .mo { color: #AE81FF }
.highlight .sa { color: #E6DB74 }
.highlight .sb { color: #E6DB74 }
.highlight .sc { color: #E6DB74 }
.highlight .dl { color: #E6DB74 }
.highlight .sd { color: #E6DB74 }
.highlight .s2 { color: #E6DB74 }
.highlight .se { color: #AE81FF }
.highlight .sh { color: #E6DB74 }
.highlight .si { color: #E6DB74 }
.highlight .sx { color: #E6DB74 }
.highlight .sr { color: #E6DB74 }
.highlight .s1 { color: #E6DB74 }
.highlight .ss { color: #E6DB74 }
.highlight .bp { color: #F8F8F2 }
.highlight .fm { color: #A6E22E }
.highlight .vc { color: #F8F8F2 }
.highlight .vg { color: #F8F8F2 }
.highlight .vi { color: #F8F8F2 }
.highlight .vm { color: #F8F8F2 }
.highlight .il { color: #AE81FF }
